# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
ENV/

# Environment variables
.env
*.env
.env.local

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Flask
instance/
.webassets-cache

# Logs and databases
*.log
*.sqlite
*.db

# Static files
/staticfiles/

# Build files
/dist/
/build/
*.egg-info/
*.egg

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini